<div class="inner-width">
  <button type="button" class="red-btn" id="return-btn" onclick="history.back()"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
  <%= erb :searching_input_partial %>
  <div class="solid-results-div" id="solid-results-div">
    <% if !location.nil? && !location.empty? %>
    <div class="loc-info">
      <div class="loc-title">
        <% if !location.empty? && !$locationsDB.where(Sequel.like(:name, "#{location}", case_insensitive: true)).all.empty? %>
          <h3>Wniki dla: </h3><h3 class="loc-name"><%= location %></h3><h3>.</h3>
        <% else %>
          <h3>Nie odnaleziono lokalizacji: </h3><h3 class="loc-name"><%= location %></h3><h3>.</h3>
        <% end %>
      </div>
      <% unless $locationsDB.where(Sequel.like(:name, "#{location}", case_insensitive: true)).all.empty? %>
        <div class="loc-buttons">
          <button type="button" name="<%= location %>" class="red-btn" id="qr-button">Genere QR</button>
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="results-header" id="results-header">
      <h3 id="results-count">Znaleziono <%= results.length %>
      <% if results.length == 0 || results.length > 4 %>
        wyników !
      <% elsif results.length == 1 %>
        wynik !
      <% else %>
        wyniki !
      <% end %></h3>
      <% unless results.empty? %>
      <input onclick="loadFilters()" type="submit" class="filter-button" value="Filtruj" id="find-submit" name="filtruj">
      <% end %>
    </div>
      <% unless results.empty? %>
    <div class="filters" id="filters-div">
      <form class="filter-form" action="find" method="post">
        <div class="filter-sets">
          <fieldset>
            <legend><input class="radio-type-filter" type="checkbox" id="table-filter-checkbox" name="table-filter">Filtruj Elementy</legend>
            <%= erb :filter_partial %>
          </fieldset>
          <fieldset>
            <legend><input class="limiting-filters" type="checkbox" id="limit-filter-checkbox" name="value-filter">Wartość</legend>
            <p>Działają przedrostki SI <br> np. "10k"</p>
            <div class="limiting-filters">
              <input type="text" title="I accept SI preix :S" class="filterInput" id="valueMinInput" name="valuemin" <% unless params[:valuemin].nil? %> value="<%= params[:valuemin] %>" <% else %> placeholder="Od" disabled <% end %>>
              <input type="text" title="I accept SI prefix :S" class="filterInput" id="valueMaxInput" name="valuemax" <% unless params[:valuemax].nil? %> value="<%= params[:valuemax] %>" <% else %> placeholder="Do" disabled <% end %>>
            </div>
          </fieldset>
          <fieldset>
            <legend>Sortowanie</legend>
            <div class="radio-sort">
              <input type="radio" value="asc" name="sort" class="sort-radio" id="asc-sort" <% if params[:sort] != "desc" %> checked <% end %>>
              <label for="others">Od najniższej</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="desc" name="sort" class="sort-radio" id="desc-sort" <% if params[:sort] == "desc" %> checked <% end %>>
              <label for="others">Od najwyższej</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="alfa" name="sort" class="sort-radio" id="alfa-sort" <% if params[:sort] == "alfa" %> checked <% end %>>
              <label for="others">Alfabetycznie A-Z</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="dalfa" name="sort" class="sort-radio" id="dalfa-sort" <% if params[:sort] == "dalfa" %> checked <% end %>>
              <label for="others">Alfabetycznie Z-A</label>
            </div>
          </fieldset>
          <fieldset>
            <legend><input class="location-filter" type="checkbox" id="location-filter-checkbox" name="location-filter">Lokalizacja</legend>
            <% $locationsDB.each do |elem| %>
              <% unless elem[:name].nil? %>
                <div class="location-filter">
                  <input type="radio" id="<%= elem[:name] %>" name="location" value="<%= elem[:name] %>" <% if params[:location] == elem[:name] %> checked <% end %> disabled>
                  <label for="location"><%= elem[:name].gsub("_"," ") %></label>
                </div>
              <% end %>
            <% end %>
          </fieldset>
        </div>
        <input type="hidden" name="input-value" value="<%= @inputVal %>" id="input-value-hidden">
        <div class="filter-buttons">
          <input type="button" class="export-selected-items" id="export-button" value="Export">
          <% if current_user %>
            <input type="button" class="delete-multiple-items" id="delete-button" value="Usuń">
          <% end %>
          <input type="button" class="clear-filters" id="clear-filters" value="wyczyść filtry">
          <input type="submit" class="filter-button" id="find-submit" value="zatwierdź">
        </div>
      </form>
    </div>
      <table class="result-tab">
        <tr>
          <th>Lp.</th>
          <th>ID</th>
          <th>Nazwa</th>
          <th>wartość</th>
          <th>Ilość</th>
          <th>Lokalizacja</th>
          <th><% unless results.empty? %><input type="checkbox" id="select-all"> <% end %>Zaznacz</th>
        </tr>
        <% results.each_with_index do |item, idx| %>
          <tr>
            <td><%= idx + 1 %>.</td>
            <td><a href="/show?item=<%= item[:localid] %>"><%= item[:localid] %></a></td>
            <td><%= item[:name] %></td>
            <td><%= item[:value].to_human_redable %><%= item[:unit] %></td>
            <td><%= item[:quantity] %></td>
            <td><%= item[:location] %></td>
            <td><input type="checkbox" value="<%= item[:localid] %>"></td>
          </tr>
        <% end %>
      </table>
      <div class="arrow-up" id="arrow-up">
        <i class="fa-solid fa-angles-up"></i>
      </div>
    <% end %>
    <% if !location.empty? && $locationsDB.select(:parentname).where(Sequel.like(:name, "#{location}", case_insensitive: true)).all[0][:parentname].empty? %>
      <div class="inside-locations">
        <h2>Lokalizacje wewnątrz:</h2>
      </div>
      <table class="result-tab">
         <col style="width: 10%;" />
          <col style="width: 40%;" />
           <col style="width: 50%;" />
        <tr>
          <th>Lp.</th>
          <th>Nazwa</th>
          <th>Opis</th>
        </tr>
        <% $locationsDB.where(Sequel.like(:parentname, "#{location}", case_insensitive: true)).all.each_with_index do |loc, idx| %>
          <tr>
            <td><%= idx + 1 %>.</td>
            <td><a href="/find?loc=<%= loc[:name] %>"><%= loc[:name] %></a></td>
            <td><div class="td-description"><%= loc[:description] %></div></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <% if results.empty? && current_user %>
  <div class="add-element-div">
    <button type="button" name="button" class="red-btn" id="add-element-btn" onclick="location.href='/add-element'"><i class="fa-solid fa-circle-plus"></i> Dodaj element</button>
  </div>
  <% end %>
</div>

<% unless params[:"value-filter"].nil? %>
  <script>
    loadFilters();
    <% unless params[:valuemin].nil? && params[:valuemax].nil? %>
      const limitBox = _('limit-filter-checkbox');
      limitBox.checked = true;
    <% end %>
  </script>
<% end %>

<% unless params[:element].nil? %>
  <script>
    loadFilters();
    const tableBox = _('table-filter-checkbox');
    tableBox.checked = true;
    document.querySelectorAll('.radio-type-filter input').forEach(item => {
      item.disabled = false;
    })
  </script>
<% end %>

<% unless params[:location].nil? %>
  <script>
    loadFilters();
    const tableBox = _('location-filter-checkbox');
    tableBox.checked = true;
    document.querySelectorAll('.location-filter input').forEach(item => {
      item.disabled = false;
    })
  </script>
<% end %>
