<div class="inner-width">
  <%= erb :searching_input_partial %>
  <div class="solid-results-div" id="solid-results-div">
    <div class="results-header" id="results-header">
      <h3 id="results-count">Znaleziono <%= results.length %>
      <% if results.length == 0 || results.length > 4 %>
        wyników !
      <% elsif results.length == 1 %>
        wynik !
      <% else %>
        wyniki !
      <% end %></h3>
      <% if !results.empty? %>
      <input onclick="loadFilters()" type="submit" class="filter-button" value="Filtruj" id="find-submit" name="filtruj">
    </div>
    <div class="filters" id="filters-div">
      <form class="filter-form" action="find" method="post">
        <div class="filter-sets">
          <fieldset>
            <legend><input class="radio-table-filter" type="checkbox" id="table-filter-checkbox" name="table-filter">Filtruj Elementy</legend>
            <% all_tables.each do |table| %>
              <%= erb :filter_partial, locals: { text: table.first_source_alias.to_human_text, table: table.first_source_alias.to_s } %>
            <% end %>
          </fieldset>
          <fieldset>
            <legend><input class="limiting-filters" type="checkbox" id="limit-filter-checkbox" name="value-filter">Wartość</legend>
            <p>Działają przedrostki SI <br> np. "10k"</p>
            <div class="limiting-filters">
              <input type="text" title="I accept SI preix :S" class="filterInput" id="valueMinInput" name="valuemin" <% unless params[:valuemin].nil? %> value="<%= params[:valuemin] %>" <% else %> placeholder="Od" disabled <% end %>>
              <input type="text" title="I accept SI prefix :S" class="filterInput" id="valueMaxInput" name="valuemax" <% unless params[:valuemax].nil? %> value="<%= params[:valuemax] %>" <% else %> placeholder="Do" disabled <% end %>>
            </div>
          </fieldset>
          <fieldset>
            <legend>Sortowanie</legend>
            <div class="radio-sort">
              <input type="radio" value="asc" name="sort" class="sort-radio" id="asc-sort" <% if params[:sort] != "desc" %> checked <% end %>>
              <label for="others">Od najniższej</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="desc" name="sort" class="sort-radio" id="desc-sort" <% if params[:sort] == "desc" %> checked <% end %>>
              <label for="others">Od najwyższej</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="alfa" name="sort" class="sort-radio" id="alfa-sort" <% if params[:sort] == "alfa" %> checked <% end %>>
              <label for="others">Alfabetycznie A-Z</label>
            </div>
            <div class="radio-sort">
              <input type="radio" value="dalfa" name="sort" class="sort-radio" id="dalfa-sort" <% if params[:sort] == "dalfa" %> checked <% end %>>
              <label for="others">Alfabetycznie Z-A</label>
            </div>
          </fieldset>
        </div>
        <input type="hidden" name="input-value" value="<%= @inputVal %>" id="input-value-hidden">
        <div class="filter-buttons">
          <input type="button" class="clear-filters" id="clear-filters" value="wyczyść filtry">
          <input type="submit" class="filter-button" id="find-submit" value="zatwierdź">
        </div>
      </form>
    </div>
      <table class="result-tab">
        <tr>
          <th>Lp.</th>
          <th>ID</th>
          <th>Nazwa</th>
          <th>wartość</th>
          <th>Ilość</th>
          <th>Lokalizacja</th>
        </tr>
        <% results.each_with_index do |item, idx| %>
          <tr>
            <td><%= idx + 1 %>.</td>
            <td><a href="/show?item=<%= item[:localid] %>"><%= item[:localid] %></a></td>
            <td><%= item[:name] %></td>
            <td><%= item[:value].to_human_redable %><%= item[:unit] %></td>
            <td><%= item[:quantity] %></td>
            <td> &nbsp;</td>
          </tr>
        <% end %>
      </table>
      <div class="arrow-up" id="arrow-up">
        <i class="fa-solid fa-angles-up"></i>
      </div>
    <% end %>
  </div>
</div>

<% unless params[:"value-filter"].nil? %>
  <script>
    loadFilters();
    <% unless params[:valuemin].nil? && params[:valuemax].nil? %>
      const limitBox = _('limit-filter-checkbox');
      limitBox.checked = true;
    <% end %>
  </script>
<% end %>

<% unless params[:element].nil? %>
  <script>
    loadFilters();
    const tableBox = _('table-filter-checkbox');
    tableBox.checked = true;
    document.querySelectorAll('.radio-table-filter input').forEach(item => {
      item.disabled = false;
    })
  </script>
<% end %>
