<div class="inner-width">
  <div class="item-header">
    <button type="button" class="red-btn" onclick="history.back()"><i class="fa-solid fa-people-pulling"></i> Powrót</button>
    <div class="admin-options">
      <button type="button" class="red-btn">Edytuj <i class="fa-solid fa-pencil"></i></button>
      <button type="button" class="red-btn">Usuń <i class="fa-solid fa-person-falling-burst"></i></button>
    </div>
  </div>
  <div class="section-title">
    <% unless item.nil? %>
      <h1><%= item[:name] %></h1>
    <% end %>
    <% unless params[:id].nil? %>
      <h1><%= params[:id] %></h1>
    <% end%>
  </div>
  <% unless item.nil? %>
  <div class="item-info-div">
    <%= erb :element_tab_partial, locals: {item: item} %>
    <div class="item-description">
      <fieldset>
        <legend>Opis</legend>
        <p><%= item[:description] %></p>
      </fieldset>
      <fieldset>
        <legend>Nota katalogowa lub strona producenta</legend>
        <% if !item[:datasheet].nil? %>
        <p><% item[:datasheet].class %></p>
          <p><a href="<%= item[:datasheet] %>" target="_blank"><i class="fa-solid fa-file-pdf"></i> Link</a></p>
        <% end %>
      </fieldset>
      <% if current_user %>
        <button type="button" name="button" class="add-item-btn"><i class="fa-solid fa-circle-plus"></i> Dodaj elementy</button>
        <div class="adding-item-form">
          <form class="item-form" action="/add_element" method="post">
            <div class="input-field">
              <label for="added_quantity">Dodaj ilość:</label>
              <input type="text" name="added_quantity" value="">
            </div>
            <input type="hidden" name="item_id" value="<%= item[:localid] %>">
            <input type="submit" value="Dodaj">
          </form>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
